html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body{
    background: crimson;
}

#buttons{
    display: block;
    margin: auto;
    text-align: center;
}

#buttons button{
    margin-right: 15px;
    outline: none;
    background-color: #1fcecb;
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 5px #888;
    cursor: pointer;
}

#buttons span{
    font: 30px Comic Sans MS, arial, serif;
    font-weight: bold;
    color: #FBC723;
    margin-right: 40px;
    text-shadow: #FFFCA8 1px 1px 0px, #9C9C9C 3px 3px 0px;
}

#buttons button:hover{
    background-color: #18a29f;
}

#buttons button:active{
    background-color: #18a29f;
    box-shadow: 0 2px #555;
    transform: translateY(5px);
}

#buttons input{
    cursor: pointer;
}

.container{
    background: white;
    position: absolute;
    display: grid;
    margin: auto;
    height: 600px;
    width: 600px;
    top: 53%;
    bottom: 47%;
    right: 0;
    left: 0;
}

.grid{
    border: 1px solid black;
}

.borderless{
    border: none;
}

@media screen and (max-width: 600px) {
    .container{
        position: absolute;
        display: grid;
        margin: auto;
        height: 320px;
        width: 320px;
        top: 53%;
        bottom: 47%;
        right: 0;
        left: 0;
    }    
}

